// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #545ca6;
$secondary: #36b0c8;
$accent: #5a6a7a;

$dark: #5a6a7a;

$positive: #1ab667;
$negative: #f05050;
$info: #4cb6cb;
$warning: #fad733;

$light-black: #232c32;
$dark-black: #171f24;
